header{
color: black;/*cor de texto*/
background-color: rgb(135, 243, 243);/*cor de fundo*/
text-align: center;
max-width: 800px;
margin: 0 auto;
padding:16px;/*espaçamento interno*/
border: 5px solid rgb(2, 2, 2);
}
main{
background-color: azure;
color: black;
text-align: center;/*alinhamento do texto*/
max-width: 800px;/* largura máxima*/
margin: 0 auto;/*espaçamento externo ao redor do elemento*/

padding: 16px;/*espaçamento interno*/

padding: 16px;/*espaçamento interno\*/

display: flex;/*habilita o uso de flex box*/
flex-direction: row;/*orienta os elementos na horizontal na orde 1,2,3*/
}

footer{
    background-color: aliceblue;
    color:rgb(12, 12, 12);
    max-width: 800px;/*largura máxima*/
    
}
img{

    width: 80px;
    height: 80px;

}