header{
color: black;/*cor de texto*/
background-color: rgb(135, 243, 243);/*cor de fundo*/
}
main{
background-color: azure;
color: black;
}

footer{
    background-color: aliceblue;
    color:antiquewhite
}